#\31 picture9Layout {
  // width: 60%;
  // height: 100%;
  grid-area: pirmas;
}
#\32 picture9Layout {
  // width: 30%;
  // height: 100%;
  grid-area: antras;
}
#\33 picture9Layout {
  // width: 30%;
  // height: 100%;
  grid-area: trecias;
}
